<%= form_for(@member) do |f| %>

<table class="attr" border="2">
  <tr>
    <th class="profile-user" colspan="2">画像を選択</th>
  </tr>
  <tr>
    <td class="profile-user" colspan="2"><%= f.file_field :new_profile_picture, :class => "btn btn-form" %></td>
  </tr>
  <tr>

  </tr>
  <tr>
    <td class="prof-content" colspan="2">

        <div class="image-pic">

      <% else %>
        <div class="no-pic">画像はありません。</div>
  <% end %>
    </td>
  </tr>
  <tr>
   
  </tr>
  <tr>
    
  </tr>
  <tr>

  </tr>
  <tr>
   
  </tr>
  <tr>
  
  </tr>
  <tr>
   
  </tr>
</table>

<table class="attr" border="2">
  <tr>
    
  </tr>
  <tr>
   
  </tr>
</table>
